<div id="SideBar" class="d-flex flex-column p-5 h-100" style="background-color: white;">
    <h2 class="text-center " style="color: rgb(3, 3, 76);font-weight: bold;">Bid <br> Players</h2>
    <hr>
    <div style="display: flex;align-items: center;justify-content: center;">
        <ul class="mynav nav nav-pills flex-column mb-auto my-4" style="">
            <li class="nav-item mb-1">
                <a  href="/auction/{{request.session.username}}/dashboard" class="active  text-center" >
                    Home
                </a>
            </li>
            <li class="nav-item mb-1">
                <a href="/auction/{{ auctionid }}/setup" class="active  text-center " >
                    Edit Auction
                </a>
            </li>
            <li class="nav-item mb-1">
                <a  href="/auction/{{auctionid}}/addplayer" class="active  text-center" >
                    Add Players
                </a>
            </li>
            <li class="nav-item">
                <a href="/auction/{{auctionid}}/addteam" class="active  text-center">
                    Add Teams
                </a>
            </li>
            <li class="nav-item" >
                <form action="/auction/{{auctionid}}/live" method="post" name="startForm">
                    {% csrf_token %}
                <a class="btn active text-center bg-primary text-light" onclick="document.forms['startForm'].submit()" style="font-weight:bold"> <b>Start Auction</b> </a>
            </form>
            </li>

            <li class="nav-item">
                <form action="/auction/{{auctionid}}/delete" method="post" name="deleteForm">
                    {% csrf_token %}
                <a class="btn text-center bg-danger text-light" style="font-weight:bold" onclick="document.forms['deleteForm'].submit()"> <b>Delete This Auction</b> </a>
            </form>
            </li>
        </form>
        </ul>
        

    </div>
</div>